<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Behavior Collector</title>
    <link rel ="stylesheet" href = "./../static/index.css"></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"> </script> <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"> </script>
</head>
<body>

    <div class = "splash" id  = "splash">
        <h1 class = "fade-in">Press Start to Begin</h1>    
        <button class = "button" id = "start">Start</button>   
    </div>

    <div class = "startBot" id = "startBot">
        <p>When you press the button below, the robot is going to do something for a few seconds.<br>
            We are going to ask you to describe what you saw and ask what emotion you thought the robot was showing.
        </p>
        <button class = "button" id = "startBotButton">Start Robot</button>
    </div>  
    
    <div class = "describe" id="describe">
        <p>Please describe what you saw...</p>
        <textarea placeholder="Description" style="height:200px; width: 500px; z-index:0" type="text"></textarea>
        <!-- <ul class="likert">
            <li> Negative </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Positive </li>
        </ul>
        <ul class="likert">
            <li> Interest </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Alarm </li>
        </ul>
        <ul class="likert">
            <li> Confusion </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Understanding </li>
        </ul>
        <ul class="likert">
            <li> Frusteration </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Relief </li>
        </ul>
        <ul class="likert">
            <li> Sorrow </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Joy </li>
        </ul>
        <ul class="likert">
            <li> Anger </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Gratitude </li>
        </ul>
        <ul class="likert">
            <li> Fear </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Hope </li>
        </ul>
        <ul class="likert">
            <li> Boredom </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Surprise </li>
        </ul>
        <ul class="likert">
            <li> Disgust </li>
            <li><input type="radio" name="guilty" value="1" /></li>
            <li><input type="radio" name="guilty" value="2" /></li>
            <li><input type="radio" name="guilty" value="3" /></li>
            <li><input type="radio" name="guilty" value="4" /></li>
            <li><input type="radio" name="guilty" value="5" /></li>
            <li> Desire </li>
        </ul> -->
        <form action="">
            <label class="statement">This HTML Likert scale is easy to use.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Negative</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Positive</label>
            </ul>
            <label class="statement">It's clear that this is a responsive design.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Interest</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Alarm</label>
              </li>
            </ul>
            <label class="statement">Codepen.io is an excellent tool for prototyping.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Confusion</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Understanding</label>
              </li>
            </ul>
            <label class="statement">Pete Fecteau is incredibly smart and handsome.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Frusteration</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Relief</label>
              </li>
            </ul>
            <label class="statement">This HTML Likert scale is easy to use.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Sorrow</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Joy</label>
            </ul>
            <label class="statement">It's clear that this is a responsive design.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Anger</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Gratitude</label>
              </li>
            </ul>
            <label class="statement">Codepen.io is an excellent tool for prototyping.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Fear</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Hope</label>
              </li>
            </ul>
            <label class="statement">Pete Fecteau is incredibly smart and handsome.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Boredom</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Surprise</label>
              </li>
            </ul>
            <label class="statement">Pete Fecteau is incredibly smart and handsome.</label>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Disgust</label>
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
              </li>
              <li>
                <input type="radio" name="likert" value="disagree">
              </li>
              <li>
                <input type="radio" name="likert" value="strong_agree">
                <label>Desire</label>
              </li>
            </ul>
          </form>
        <button class = "button">Submit</button>
    </div>
    <!-- <figure>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
    </figure> -->
    <!-- <script>
        function myFunction(){
        setTimeout(()=>{
        splash.classList.add('display-none');
        }, 2000); 
    }
    </script> -->
    <!-- <script>
        function fadeOut2(){
        setTimeout(()=>{
        startBot.classList.add('display-none');
        }, 2000); 
    }
    </script> -->
    <script>
        $('#startBotButton').on('click', function(e){
            $.ajax({
                type:'POST',
                url:"{{url_for('startRandomBehavior')}}",
                dataType: "text",
                success: function(response){
                    console.log(response);
                    setTimeout(()=>{
                    startBot.classList.add('display-none');
                    }, 2000); 
                }
            });
        });
    </script>
    <script src = "./../static/index.js"></script> 
</body>
</html>