<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Behavior Collector</title>
    <link rel ="stylesheet" href = "./../static/index.css"></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"> </script> <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"> </script>
</head>
<body>

    <div class = "splash" id  = "splash">
        <h1 class = "fade-in">Press Start to Begin</h1>    
        <button class = "button" id = "start">Start</button>   
    </div>

    <div class = "startBot" id = "startBot">
        <p>When you press the button below, the robot is going to do something for a few seconds.<br>
            We are going to ask you to describe what you saw and ask what emotion you thought the robot was showing.
        </p>
        <button class = "button" id = "startBotButton">Start Robot</button>
    </div>  
    
    <div class = "describe" id="describe">
        <p>Please describe what you saw...</p>
        <textarea placeholder="Description" id="description" name ="description" style="height:200px; width: 500px; z-index:0" type="text"></textarea>
        <p>Please rate the following attributes on a scale of 5...</p>
        <form style="width:50%;" action="test.py" method="GET">
            <ul class='likert'>
              <li style = "display:inline-block;"> 
                <input type="radio" name="likert2" value="1">
                <label>Interest</label>
              </li>
              <li>
                <input type="radio" name="likert2" value="2">
              </li>
              <li>
                <input type="radio" name="likert2" value="3">
              </li>
              <li>
                <input type="radio" name="likert2" value="4">
              </li>
              <li>
                <input type="radio" name="likert2" value="5">
                <label>Alarm</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert3" value="1">
                <label>Confusion</label>
              </li>
              <li>
                <input type="radio" name="likert3" value="2">
              </li>
              <li>
                <input type="radio" name="likert3" value="3">
              </li>
              <li>
                <input type="radio" name="likert3" value="4">
              </li>
              <li>
                <input type="radio" name="likert3" value="5">
                <label>Understanding</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert4" value="1">
                <label>Frusteration</label>
              </li>
              <li>
                <input type="radio" name="likert4" value="2">
              </li>
              <li>
                <input type="radio" name="likert4" value="3">
              </li>
              <li>
                <input type="radio" name="likert4" value="4">
              </li>
              <li>
                <input type="radio" name="likert4" value="5">
                <label>Relief</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert5" value="1">
                <label>Sorrow</label>
              </li>
              <li>
                <input type="radio" name="likert5" value="2">
              </li>
              <li>
                <input type="radio" name="likert5" value="3">
              </li>
              <li>
                <input type="radio" name="likert5" value="4">
              </li>
              <li>
                <input type="radio" name="likert5" value="5">
                <label>Joy</label>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert6" value="1">
                <label>Anger</label>
              </li>
              <li>
                <input type="radio" name="likert6" value="2">
              </li>
              <li>
                <input type="radio" name="likert6" value="3">
              </li>
              <li>
                <input type="radio" name="likert6" value="4">
              </li>
              <li>
                <input type="radio" name="likert6" value="5">
                <label>Gratitude</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert7" value="1">
                <label>Fear</label>
              </li>
              <li>
                <input type="radio" name="likert7" value="2">
              </li>
              <li>
                <input type="radio" name="likert7" value="3">
              </li>
              <li>
                <input type="radio" name="likert7" value="4">
              </li>
              <li>
                <input type="radio" name="likert7" value="5">
                <label>Hope</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert8" value="1">
                <label>Boredom</label>
              </li>
              <li>
                <input type="radio" name="likert8" value="2">
              </li>
              <li>
                <input type="radio" name="likert8" value="3">
              </li>
              <li>
                <input type="radio" name="likert8" value="4">
              </li>
              <li>
                <input type="radio" name="likert8" value="5">
                <label>Surprise</label>
              </li>
            </ul>
            <ul class='likert'>
              <li>
                <input type="radio" name="likert9" value="1">
                <label>Disgust</label>
              </li>
              <li>
                <input type="radio" name="likert9" value="2">
              </li>
              <li>
                <input type="radio" name="likert9" value="3">
              </li>
              <li>
                <input type="radio" name="likert9" value="4">
              </li>
              <li>
                <input type="radio" name="likert9" value="5">
                <label>Desire</label>
              </li>
            </ul>
          </form>
        <button type="submit"  id = "submitButton" >Submit</button>
    </div>

    <script>
        var time = new Date().getTime();
        $(document.body).bind("mousemove keypress", function(e) {
            time = new Date().getTime();
        });
   
        function refresh() {
            if(new Date().getTime() - time >= 60000) 
                window.location.reload(true);
            else 
                setTimeout(refresh, 300000);
        }
   
        setTimeout(refresh, 300000);
   </script>
    <script>
        $('#startBotButton').on('click', function(e){
            $.ajax({
                type:'POST',
                url:"{{url_for('startRandomBehavior')}}",
                dataType: "text",
                success: function(response){
                    console.log(response);
                    setTimeout(()=>{
                    startBot.classList.add('display-none');
                    }, 2000); 
                }
            });
        });
    </script>
        <script>
            $('#submitButton').on('click', function(e){
                // if(document.getElementByName("likert2").checked && document.getElementByName("likert3").checked && document.getElementByName("likert4").checked && document.getElementByName("likert5").checked && document.getElementByName("likert6").checked && document.getElementByName("likert7").checked && document.getElementByName("likert8").checked && document.getElementByName("likert9").checked && document.getElementByName(description).val() != null){
                    var checkRadio1 = document.querySelector('input[name="likert2"]:checked');
                    var checkRadio2 = document.querySelector('input[name="likert3"]:checked'); 
                    var checkRadio3 = document.querySelector('input[name="likert4"]:checked');
                    var checkRadio4 = document.querySelector('input[name="likert5"]:checked'); 
                    var checkRadio5 = document.querySelector('input[name="likert6"]:checked');
                    var checkRadio6 = document.querySelector('input[name="likert7"]:checked'); 
                    var checkRadio7 = document.querySelector('input[name="likert8"]:checked');
                    var checkRadio8 = document.querySelector('input[name="likert9"]:checked'); 

                if( $(checkRadio1 && checkRadio2 && checkRadio3 && checkRadio4 && checkRadio5 && checkRadio6 && checkRadio7 && checkRadio8 && "textarea").val()!= null){
                    $.ajax({
                        type:'POST',
                        url:"{{url_for('enterDataInFile')}}",
                        dataType: "text",
                        data:{ description: $("textarea").val(), form: $('form').serialize()},                        
                        success: function(response){
                            console.log(response);
                        }
                    });
                    console.log("sent data");
                }
                else{
                    alert("Please enter in missing fields.");
                }
            });
        </script>
    <script src = "./../static/index.js"></script> 
</body>
</html>